{
  "log": {
    "_recordingName": "verifyHcaptchaToken/succeeds with valid form data for the enterprise safe user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "326a3fb2652b17afb4605a9c89f68334",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "response=20000000-aaaa-bbbb-cccc-000000000002&secret=0x0000000000000000000000000000000000000000&sitekey=20000000-ffff-ffff-ffff-000000000002&remoteip=0.0.0.0"
          },
          "queryString": [],
          "url": "https://hcaptcha.com/siteverify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 169,
            "text": "{\"success\":true,\"hostname\":\"dummy-key-pass\",\"sitekey\":\"20000000-ffff-ffff-ffff-000000000002\",\"challenge_ts\":\"2021-10-02T18:52:14.520Z\",\"score\":0,\"score_reason\":[\"safe\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
