{
  "log": {
    "_recordingName": "verifyHcaptchaToken/succeeds with valid form data for the test publisher",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a95f517264857c0062c48184db7e42e6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "response=10000000-aaaa-bbbb-cccc-000000000001&secret=0x0000000000000000000000000000000000000000&sitekey=10000000-ffff-ffff-ffff-000000000001&remoteip=0.0.0.0"
          },
          "queryString": [],
          "url": "https://hcaptcha.com/siteverify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 101,
            "text": "{\"success\":true,\"credit\":false,\"hostname\":\"dummy-key-pass\",\"challenge_ts\":\"2021-10-02T22:41:06.462Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
