{
  "log": {
    "_recordingName": "verifyHcaptchaToken/fails with valid form data for the enterprise bot user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f7ae25666b1278e9bdaac07d8f3efe6a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "response=30000000-aaaa-bbbb-cccc-000000000003&secret=0x0000000000000000000000000000000000000000&sitekey=30000000-ffff-ffff-ffff-000000000003&remoteip=0.0.0.0"
          },
          "queryString": [],
          "url": "https://hcaptcha.com/siteverify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 168,
            "text": "{\"success\":true,\"hostname\":\"dummy-key-pass\",\"sitekey\":\"30000000-ffff-ffff-ffff-000000000003\",\"challenge_ts\":\"2021-10-02T18:55:31.416Z\",\"score\":1,\"score_reason\":[\"bot\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
