{
  "log": {
    "_recordingName": "verifyHcaptchaToken/fails when no form data is sent",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9e572565de486bdcea67b85c65b6934e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://hcaptcha.com/siteverify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 81,
            "text": "{\"success\":false,\"error-codes\":[\"missing-input-response\",\"missing-input-secret\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
