{
  "log": {
    "_recordingName": "verifyHcaptchaToken/fails when a test secret key is not used for a test token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.0"
    },
    "entries": [
      {
        "_id": "d128103eaa4a3d627e5636e6888edd7a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "response=10000000-aaaa-bbbb-cccc-000000000001&secret=not-the-dummy-secret"
          },
          "queryString": [],
          "url": "https://hcaptcha.com/siteverify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 143,
            "text": "{\"success\":false,\"credit\":false,\"hostname\":\"dummy-key-pass\",\"error-codes\":[\"not-using-dummy-secret\"],\"challenge_ts\":\"2021-12-01T18:00:58.610Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
