{
  "log": {
    "_recordingName": "verifyHcaptchaToken/fails when no token is sent",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.0"
    },
    "entries": [
      {
        "_id": "c625e94fbc7bb215a5d1b835b9b86625",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "secret=0x0000000000000000000000000000000000000000"
          },
          "queryString": [],
          "url": "https://hcaptcha.com/siteverify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": "{\"success\":false,\"error-codes\":[\"missing-input-response\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
