{
  "log": {
    "_recordingName": "verifyHcaptchaToken/fails when the remote IP is invalid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "19e3964c270119fcaede05872a3c7293",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "response=10000000-aaaa-bbbb-cccc-000000000001&secret=0x0000000000000000000000000000000000000000&sitekey=10000000-ffff-ffff-ffff-000000000001&remoteip=invalid"
          },
          "queryString": [],
          "url": "https://hcaptcha.com/siteverify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 52,
            "text": "{\"success\":false,\"error-codes\":[\"invalid-remoteip\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 60,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
